@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding-top: 112px;
  overflow-x: hidden;
  background-color: #fff;
}

.black {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #000 !important;
}

.black * {
  color: #fff !important;
}

.white {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff !important;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  overflow: hidden;
}

.animation {
  background-color: transparent;
}

@font-face {
  font-family: 'helvetica-caps-roman';
  src: url("../fonts/helvetica-caps-roman.ttf");
}

@font-face {
  font-family: 'helvetica-roman';
  src: url("../fonts/helvetica-roman.ttf");
}

.h-roman {
  font-family: 'helvetica-roman';
}

.caps-roman {
  font-family: 'helvetica-caps-roman';
}

.social {
  position: fixed;
  left: 20px;
  bottom: 50px;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.social__item {
  position: relative;
  list-style: none;
  padding: 15px 0;
}

.social__item:before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 1px);
  width: 2px;
  height: 20px;
  background-color: #2a2a2a;
}

.social__item--link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #2a2a2a;
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
}

.social__item--link img {
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social__item--link:hover {
  color: #7c00f0;
}

.section {
  padding-top: 120px;
}

@media (max-width: 991px) {
  .section {
    padding-top: 50px;
  }
}

.section__head {
  margin-bottom: 30px;
}

.section__head--title {
  color: #2a2a2a;
  font-size: 2rem;
}

.section__head--icon {
  margin-top: 10px;
  width: 30px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 30px 0;
  background-color: #fff;
  z-index: 2;
}

.header.active {
  -webkit-box-shadow: 0px 3px 20px 10px rgba(151, 153, 193, 0.13);
          box-shadow: 0px 3px 20px 10px rgba(151, 153, 193, 0.13);
}

.header__contact {
  list-style: none;
}

.header__contact--link {
  padding: 15px 30px;
  background-color: #7c00f0;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.header__contact--link img {
  width: 15px;
  margin-right: 8px;
}

@media (max-width: 576px) {
  .header__contact--link {
    padding: 15px 15px;
  }
  .header__contact--link img {
    margin-right: 0;
  }
  .header__contact--link span {
    display: none;
  }
}

.header__contact--link:hover {
  background-color: #757575;
}

.logo {
  width: 100%;
  max-width: 88px;
  background-color: #fff;
}

.logo__img {
  width: 100%;
}

.navbar {
  width: 100%;
}

.navbar__content {
  margin-right: 15px;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  padding: 2.5rem 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #757575;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 576px) {
  .navbar__link {
    padding: 2.5rem 0;
  }
}

.navbar__link--active {
  color: #7c00f0;
}

.navbar__link span {
  margin-top: -30px;
  padding: 3px 3px;
  border-radius: 5px;
  color: #7c00f0;
  font-weight: 700;
}

.navbar__link:hover {
  color: #7c00f0;
}

@media (max-width: 991px) {
  .statistics {
    position: relative;
  }
}

.slider {
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
  background-color: #fff;
}

@media (max-width: 991px) {
  .slider {
    height: auto;
  }
}

.slider__title {
  font-size: 2.5rem;
}

.slider__title p {
  width: 0px;
  color: #7c00f0 !important;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  white-space: nowrap;
  overflow: hidden;
}

.slider__title p.active {
  width: 100%;
}

@media (max-width: 991px) {
  .slider__title {
    width: 100%;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .slider__title {
    font-size: 24px;
  }
}

.slider__cover {
  width: 100%;
  height: 100%;
}

.slider__cover .frame {
  position: relative;
  width: 100%;
  max-width: 190px;
  height: 271px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.slider__cover .frame .human {
  position: relative;
}

.slider__cover .frame .human .face {
  width: 40px;
  height: 40px;
  background: #7c00f0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -250%);
          transform: translate(-50%, -250%);
  border-radius: 50%;
}

.slider__cover .frame .human .hand {
  height: 60px;
  width: 15px;
  background: #7c00f0;
  border-radius: 10px;
}

.slider__cover .frame .human .hand-left {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(-200%, -85%) rotate(14deg);
          transform: translate(-200%, -85%) rotate(14deg);
}

.slider__cover .frame .human .hand-left div {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(-58%, 30%) rotate(-7deg);
          transform: translate(-58%, 30%) rotate(-7deg);
}

.slider__cover .frame .human .hand-right {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(110%, -62%) rotate(-70deg);
          transform: translate(110%, -62%) rotate(-70deg);
  -webkit-animation-name: hand-right-up;
          animation-name: hand-right-up;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: alternate-reverse;
          animation-fill-mode: alternate-reverse;
}

.slider__cover .frame .human .hand-right div {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(-25%, 60%) rotate(-90deg);
          transform: translate(-25%, 60%) rotate(-90deg);
  -webkit-animation-name: handUp;
          animation-name: handUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slider__cover .frame .human .body {
  width: 57.5px;
  height: 100px;
  background: #7c00f0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px 5px 0px 0px;
}

.slider__cover .frame .human .bottom {
  width: 56px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
}

.slider__cover .frame .human .bottom .leg {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 48.5%;
  height: 100%;
  background: #7c00f0;
  border-radius: 0px 0px 20px 20px;
}

.slider__cover .frame .human .bottom .left-left {
  -webkit-transform: translate(-106%, 0%);
          transform: translate(-106%, 0%);
}

.slider__cover .frame .human .bottom .left-right {
  -webkit-transform: translate(8%, 0%);
          transform: translate(8%, 0%);
}

@-webkit-keyframes hand-right-up {
  0%, 100% {
    -webkit-transform: translate(110%, -62%) rotate(-70deg);
            transform: translate(110%, -62%) rotate(-70deg);
  }
  50% {
    -webkit-transform: translate(90%, -60%) rotate(-90deg);
            transform: translate(90%, -60%) rotate(-90deg);
  }
}

@keyframes hand-right-up {
  0%, 100% {
    -webkit-transform: translate(110%, -62%) rotate(-70deg);
            transform: translate(110%, -62%) rotate(-70deg);
  }
  50% {
    -webkit-transform: translate(90%, -60%) rotate(-90deg);
            transform: translate(90%, -60%) rotate(-90deg);
  }
}

@-webkit-keyframes handUp {
  0%, 100% {
    -webkit-transform: translate(-25%, 60%) rotate(-90deg);
            transform: translate(-25%, 60%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-30%, 65%) rotate(-120deg);
            transform: translate(-30%, 65%) rotate(-120deg);
  }
}

@keyframes handUp {
  0%, 100% {
    -webkit-transform: translate(-25%, 60%) rotate(-90deg);
            transform: translate(-25%, 60%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-30%, 65%) rotate(-120deg);
            transform: translate(-30%, 65%) rotate(-120deg);
  }
}

.statistics {
  width: 100%;
  max-width: 837px;
  bottom: 0;
  padding: 50px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 23px -12px #757575;
          box-shadow: 0px 0px 23px -12px #757575;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.statistics__item {
  position: relative;
  margin: 0 50px 0 0;
}

.statistics__text {
  color: #757575;
  font-size: 1.125rem;
}

.statistics__text--orange {
  color: #7c00f0 !important;
}

@media (max-width: 991px) {
  .statistics {
    position: relative;
  }
}

.services {
  background-color: #fff;
}

.services:hover .services__cover {
  -webkit-box-shadow: inset 0px 0px 500px 500px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 500px 500px rgba(0, 0, 0, 0.5);
}

.services__cover {
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 500px 500px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 500px 500px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services__item {
  width: 100%;
  padding: 30px 30px 0 35px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 991px) {
  .services__item {
    padding: 30px 10px 0 10px;
  }
}

@media (max-width: 720px) {
  .services__item {
    padding: 30px 0 0 0;
  }
}

.services__item--border:nth-of-type(1) {
  border-right: 1px solid rgba(117, 117, 117, 0.1);
  border-bottom: 1px solid rgba(117, 117, 117, 0.1);
}

.services__item--border:nth-of-type(2) {
  border-bottom: 1px solid rgba(117, 117, 117, 0.1);
}

.services__item--border:nth-of-type(3) {
  border-right: 1px solid rgba(117, 117, 117, 0.1);
}

.services__item--title {
  color: #2a2a2a;
  font-size: 1.125rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.services__item--icon {
  width: 20px !important;
}

.services__item--desc {
  margin-top: 7px;
  color: #757575;
  font-size: 1rem;
}

.services__item--desc p {
  margin: 8px 0;
}

.services__item:hover .services__item--title {
  color: #7c00f0;
}

.projects {
  background-color: #fff;
}

.projects__slider-out {
  width: 100%;
  height: 400px;
}

@media (max-width: 991px) {
  .projects__slider-out {
    height: 240px;
    margin-top: -200px;
    background: #ffffffd4;
  }
}

.projects__slider--list {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.projects__slider--cover {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__slider--item {
  width: 100%;
}

.projects__slider--texts {
  padding: 100px 50px 50px 100px;
}

@media (max-width: 991px) {
  .projects__slider--texts {
    padding: 25px;
  }
}

.projects__slider--title {
  font-size: 1.125rem;
}

.projects__slider--title a {
  color: #2a2a2a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.projects__slider--title a svg {
  width: 20px;
  margin-left: 10px;
}

.projects__slider--title a:hover {
  color: #7c00f0;
}

.projects__slider--title a:hover svg {
  fill: #7c00f0;
}

.projects__slider--desc {
  max-width: 400px;
  width: 100%;
  margin-top: 7px;
  color: #2a2a2a;
  font-size: 1rem;
}

.projects__slider--desc p {
  margin: 8px 0;
}

.projects__slider--navs button {
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  border: 1px solid #757575;
  outline: none;
  cursor: pointer;
}

.projects__slider--navs button svg {
  width: 10px;
  fill: #2a2a2a;
}

.projects__slider--navs .owl-next {
  background-color: #7c00f0;
}

.projects__slider--navs .owl-next svg {
  fill: #fff;
}

.contact {
  background-color: #fff;
}

.contact__map {
  width: 100%;
  height: 200px;
  border: none;
}

.footer {
  background-color: #f0f2f6;
  padding: 60px 80px 80px 80px;
}

@media (max-width: 991px) {
  .footer {
    padding: 60px 21px 80px 35px;
  }
}

.footer__menu {
  margin-top: 20px;
}

.footer__menu--item {
  list-style: none;
}

.footer__menu--item:first-child a {
  margin-bottom: 5px;
  color: #2a2a2a;
  font-size: 20px;
}

.footer__menu--link {
  display: block;
  margin: 5px 0;
  color: #757575;
  font-size: 16px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */