$sliderHeight: 400px;

.projects {
    background-color: #fff;

    &__slider-out {
        width: 100%;
        height: $sliderHeight;

        @media (max-width: 991px) {
            height: 240px;
            margin-top: -200px;
            background: #ffffffd4;
        }
    }
    
    &__slider {
    
        &--list {
            width: 100%;
            height: 400px;
            overflow: hidden;
        }

        &--cover {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        &--item {
            width: 100%;
        }

        &--texts {
            padding: 100px 50px 50px 100px;

            @media (max-width: 991px) {
                padding: 25px;
            }
        }

        &--title {
            font-size: 1.125rem;
            
            a {
                color: $dark;
                transition: $animation;
                text-decoration: none;

                svg {
                    width: 20px;
                    margin-left: 10px;
                }

                @media (max-width: 991px) {
                    // color: #fff;
                }

                &:hover {
                    color: $orange;

                    svg {
                        fill: $orange;
                    }
                }
            }
        }

        &--desc {
            max-width: 400px;
            width: 100%;
            margin-top: 7px;
            color: $dark;
            font-size: 1rem;

            @media (max-width: 991px) {
                // color: #fff;
            }

            p {
                margin: 8px 0;
            }
        }

        &--navs{
            // border: 1px solid $silver;
            
            button {
                padding: 15px 20px;
                background-color: transparent;
                border: none;
                border: 1px solid $silver;
                outline: none;
                cursor: pointer;

                svg {
                    width: 10px;
                    fill: $dark;
                }
            }

            .owl-next {
                background-color: $orange;

                svg {
                    fill: #fff;
                }
            }
        }
    }
}