$sliderHeight: 400px;

.projects {
    &__slider {
        width: 100%;
        height: $sliderHeight;

        @media (max-width: 991px) {
            height: 200px;
            margin-top: -200px;
            background: #2a2a2aa9;
        }


        &--list {
            width: 100%;
            height: 400px;
            padding: 0 35px;
            overflow: hidden;
        }

        &--cover {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        &--item {
            width: 100%;
        }

        &--texts {
            padding: 100px 50px 50px 100px;

            @media (max-width: 991px) {
                padding: 25px 0px 0px 25px;
            }
        }

        &--title {
            font-size: 1.125rem;
            
            a {
                color: #2a2a2a;
                transition: $animation;
                text-decoration: none;

                @media (max-width: 991px) {
                    color: #fff;
                }

                &:hover {
                    color: $orange;
                }
            }
        }

        &--desc {
            margin-top: 7px;
            color: #757575;
            font-size: 1rem;

            @media (max-width: 991px) {
                color: #fff;
            }

            p {
                margin: 8px 0;
            }
        }
    }
}