.slider {
    width: 100%;
    height: calc(100vh - 380px);
    position: relative;
    background-color: #fff;

    &__title {
        font-size: 2.5rem;
    }

    &__cover {
        width: 100%;

        &--img {
            width: 100%;
        }
    }
}

.statistics {
    width: 100%;
    max-width: 837px;
    position: absolute;
    bottom: 0;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 0px 23px -12px #2a2a2a;
    background-color: #fff;
    box-sizing: border-box;

    &__item {
        position: relative;
        margin: 0 50px 0 0;
    }

    &__text {
        color: $silver;
        font-size: 1.125rem;

        &--orange {
            color: $orange;
        }
    }
}


@media (max-width: 991px) {
    .statistics {
        position: relative;
    }
    .slider__title {
        font-size: 2rem;
        width: 100%;
    }
    .slider__cover--img {
        width: 46%;
        margin: 10px auto;
    }
}